<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editar Género</title>
    <th:block th:include="layout.html"></th:block>
</head>

<body>


    <div class="container mt-4">
        <h2>Agregar Género</h2>

        <form th:action="@{'/editGenres/' + ${genre.id}}" method="post">
            <!-- Nombre del género -->
            <div class="form-group">
                <label>Nombre del Género:</label>
                <input type="text" class="form-control" id="nombreGenero" name="name" th:value="${genre.name}" required>
            </div>

            <!-- Descripción -->
            <div class="form-group">
                <label>Descripción</label>
                <input type="text" class="form-control" id="descripcion" name="description" th:value="${genre.description}" required>
            </div>

            

            <!-- Botón de enviar -->
            <button type="submit" class="btn btn-primary">Editar Género</button>
        </form>
    </div>

</body>
</html>